.main-1 {
  display: flex;
  justify-content: center;
  background-color: var(--dark-bg_body);
  color: white;
  padding: 1em;
  max-height: auto;
}

header {
  margin: 0;
  padding: 0;
}

.product-card {
  border: solid 1px;
  height: 45%;
  width: 300px;
  position: absolute;
  left: 50%;
  background-color: red;

  font-size: 12px;
}

ion-icon {
  color: goldenrod;
}

.product-image {
  width: 100%;
  height: 200px !important;
}

.box-details-upper {
  width: 45%;
  margin-right: 2em;
}

.content {
  display: flex;
  width: 70%;
}

.main-2 {
  display: flex;
  justify-content: center;
  padding: 1em;
  max-height: auto;
}

.product-card-2 {
  border: solid 1px;
  height: 45%;
  width: 300px;
  position: absolute;
  left: 50%;

  font-size: 12px;
}

.box-details-upper-2 {
  width: 45%;
  margin-right: 2em;
}

.category-title {
  color: var(--brand-secondary);
  margin: 0;
}

.product-image {
  height: fit-content;
  padding-top: 2px;
  padding-left: 2px;
  padding-right: 2px;
  padding-bottom: 0px;
  background-color: white;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);

  color: black;
}

li {
  display: flex;
  list-style-type: none;
  padding: 1em;
  border: 1px solid var(--lines-color);
  overflow: hidden; /* Hide overflowing text */
  text-overflow: ellipsis; /* Display ellipsis (...) when text overflows */
}

li ion-icon {
  flex-shrink: 0; /* Prevent the icon from shrinking */
  color: var(--brand-secondary);
  font-size: 2em;
  margin-right: 0.5em;
}

[name="checkmark-circle-outline"] {
  color: var(--brand-secondary);
  font-size: 2em;
}

.box-details-upper-2 h2 {
  border: 1px solid var(--lines-color);
  padding: 1em 1.5em;
}

.outer-container {
  flex: 1;
  background-color: var(--bg_body);
}

footer {
}

.details-stars {
  font-size: 1.5em;
}

.stars-container-details ion-icon {
  margin-top: 1em;
  margin-bottom: 0.5em;
  color: goldenrod;
}

.topic-text {
  margin-top: 1em;
}

@media screen and (max-width: 767px) {
  .product-card {
    border: solid 1px;
    height: 45%;
    width: 300px;
    position: static;
    background-color: blue;
    font-size: 12px;
  }

  .content {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .topic-text {
    width: 100%;
  }

  .box-details-upper {
    width: 100%;
  }

  .details-stars {
    font-size: 1em;
  }
}
