:root {
  --brand-primary: #0768ac;
  --brand-secondary: #03c180;
  --bg_default: #ffffff;
  --bg_body: #f0f9ff;
  --lines-color: #dddddd;
  --body-text: #333333;
  --heart-color: #dc143c;
}

/* --brand-primary	#0768AC
 	--brand-secondary	#03C180
 	--bg_default	#FFFFFF
 	--bg_body	#F0F9FF
 	--lines-color	#DDDDDD
 	--body-text	#333333
 	--heart-color	#DC143C
   */

/*  General styling */

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito Sans", sans-serif;
}
.container {
  margin: 1em;
  width: 90%;
}

.search-filter-container {
  display: flex;
  justify-content: center;
}

/*  Header */

.site-title {
  color: var(--brand-primary);
}

.navbar-buttons {
  display: flex;
}

.navbar-buttons button {
  display: flex;
  align-items: center;
  border-radius: 5px;
  border-color: #dddddd;
  border-style: solid;
  padding: 5px 10px;
  background-color: transparent;
}

.navbar-buttons button:first-child {
  margin-right: 5px;
}

.navbar-buttons button ion-icon {
  margin-right: 5px;
}
@media screen and (max-width: 767px) {
  .navbar-buttons button span {
    display: none;
  }

  .navbar-buttons button ion-icon {
    margin-right: 0;
  }
}

nav {
  margin: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
}

/*  Header Ending */
/*  colorful bar */
.left-bar {
  height: 100%;
  position: absolute;
  width: 100%;
  background: linear-gradient(
    to right,
    var(--brand-primary),
    var(--brand-secondary)
  );
  background-size: 100% 100%;
  clip-path: polygon(0% 0%, 0% 100%, 120% 0%);
  z-index: 1;
}

.right-bar {
  height: 100%;
  position: absolute;
  width: 100%;
  background-color: var(--brand-secondary);
  clip-path: polygon(100% 0%, 100% 100%, -20% 0%);
}
/*  colorful bar */
/* Welcome section */

.welcome-content {
  width: 100%; /* Adjust the width as needed */
  margin: 0 auto;
  text-align: start;
  margin-top: -0.8em;
}

.welcome-title {
  font-weight: 700;
  margin: 0px;
  padding: 0px;
  color: #03c180;
}
.welcome-description {
  font-weight: 400;
  margin: 0px;
  padding: 0px;
  color: 333333;
}

.colorful-bar {
  height: 28px;
  position: relative;
  background-color: var(--bg-default);
}

@media only screen and (min-width: 676px) {
  .colorful-bar {
    height: 65px;
  }
  .welcome-content {
    margin-top: -2em;
    text-align: start;
  }
  .welcome-title {
    margin-left: 40%;
  }
  .welcome-description {
    margin-left: 40%;
  }
  .left-bar {
    clip-path: polygon(0% 0%, 0% 100%, 100% 0%);
  }

  .right-bar {
    clip-path: polygon(100% 0%, 100% 100%, 0% 0%);
  }
}
/* Welcome section ending */

/*  Footer */

footer {
  text-align: center;
}
/*  Footer Ending  */
