:root {
  --brand-primary: #0768ac;
  --brand-secondary: #03c180;
  --bg_default: #ffffff;
  --bg_body: #f0f9ff;
  --lines-color: #dddddd;
  --body-text: #333333;
  --heart-color: #dc143c;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  font-family: "Nunito Sans", sans-serif;
  width: 100%;
}

.search-results {
  color: black;
  margin-top: 1em;
  margin-bottom: 1em;
  font-size: 1.5em;
}

.search-filter-container {
  display: flex;
  justify-content: center;
}

.site-title {
  color: var(--brand-primary);
}

.navbar-buttons {
  display: flex;
}

.navbar-buttons button {
  display: flex;
  align-items: center;
  border-radius: 5px;
  border: 1px solid var(--lines-color);
  color: var(--body-text);
  padding: 5px 10px;
  background-color: transparent;
  margin-right: 1em;
}

.navbar-buttons button ion-icon {
  margin-right: 1em;
}

@media screen and (max-width: 700px) {
  .navbar-buttons button span {
    display: none;
  }

  .navbar-buttons button ion-icon {
    margin-right: 0;
  }
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  margin: 1em;
}

.background-color {
  background-color: var(--bg_body);
}

.colorful-bar {
  height: 28px;
  position: relative;
  background-color: var(--bg_default);
}

.left-bar,
.right-bar {
  height: 100%;
  position: absolute;
  width: 100%;
}

.left-bar {
  background: linear-gradient(
    to right,
    var(--brand-primary),
    var(--brand-secondary)
  );
  background-size: 100% 100%;
  clip-path: polygon(0% 0%, 0% 100%, 120% 0%);
  z-index: 1;
}

.right-bar {
  background-color: var(--brand-secondary);
  clip-path: polygon(100% 0%, 100% 100%, -20% 0%);
}

.welcome-content {
  display: block;
  width: 30%;
  margin: 0 auto;
  text-align: start;
  margin-bottom: 1em;
  margin-left: 1em;
}

.welcome-title,
.welcome-description {
  margin: 0;
  padding: 0;
  width: 100%;
}

.welcome-title {
  font-weight: 700;
  color: var(--brand-secondary);
}

.welcome-description {
  font-weight: 400;
  color: var(--body-text);
}

@media (min-width: 280px) {
  .colorful-bar {
    height: 30px;
  }

  .welcome-content {
    text-align: start;
    padding-left: 1em;
    padding-right: 1em;
    margin-left: 1em;
    margin-right: 1em;
    width: 50%;
  }

  nav {
    padding: 1em;
  }

  .left-bar {
    clip-path: polygon(0% 0%, 0% 100%, 100% 0%);
  }

  .right-bar {
    clip-path: polygon(100% 0%, 100% 100%, 0% 0%);
  }
}

@media only screen and (min-width: 600px) {
  .colorful-bar {
    height: 60px;
  }

  .welcome-content {
    margin-top: -0.4em;
    text-align: start;
    margin-left: 35%;
  }

  .left-bar {
    clip-path: polygon(0% 0%, 0% 100%, 100% 0%);
  }

  .right-bar {
    clip-path: polygon(100% 0%, 100% 100%, 0% 0%);
  }
}

.main {
  background-color: var(--bg_body);
  height: 100%;
  width: 100%;
  padding: 1em;
}

.banner-image {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  width: 100%;
  height: 10rem;
  object-fit: cover;
}

.wrapper-grid {
  margin: 0 auto;
  margin-top: 1em;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(5rem, 16em));
  justify-content: start;
  grid-gap: 1em;
}

.card {
  border-radius: 5px;
  width: 90vw;
  box-shadow: 0px 2px 8px 0px grey;
  height: 300px;
}

.card-title {
  padding: 1em;
}

@media screen and (max-width: 767px) {
  .card {
    width: 95%;
  }

  .welcome-content {
    font-size: 14px;
    width: 55%;
  }

  .wrapper-grid {
    grid-template-columns: repeat(auto-fit, minmax(5rem, 100%));
  }
}

@media screen and (min-width: 701px) and (max-width: 1200px) {
  .card {
    width: 100%;
  }

  .welcome-content {
    font-size: 16px;
    width: 45%;
  }

  .wrapper-grid {
    grid-template-columns: repeat(auto-fit, minmax(5rem, 13rem));
  }
}

@media screen and (min-width: 1201px) {
  .card {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  .main {
    padding: 3em;
  }

  .wrapper-grid {
    grid-template-columns: repeat(auto-fit, minmax(5rem, 15rem));
    grid-gap: 1.5em;
  }

  nav {
    padding: 3em;
  }
}

footer {
  text-align: center;
}
/*
@media screen and (max-width: 320px) {
  nav {
    display: flex;
    justify-content: center;
  }

  .welcome-content {
    font-size: 10px;
    width: 49%;
  }
  .search-results {
    width: 100%;
  }
}
*/
